In [ ]:
age=18
if age >= 18:
  print("you are eligible to vote")

you are eligible to vote

In [ ]:
num=int(input("Enter a number:"))
if num % 2 == 0:
  print("The number even number")
else:
  print("The number odd number")

Enter a number:55
The number odd number

In [ ]:
marks = int(input("Enter the number"))
if marks>=90:
  print("grade: A")
elif marks >=75:
  print("grade: B")
elif marks >=50:
  print("grade: C")
else:
  print("grade: F")

Enter the number93
grade: A

In [ ]:
for i in range(5):
  print("interation:",i)

interation: 0
interation: 1
interation: 2
interation: 3
interation: 4

In [ ]:
for i in range(5,10):
  print("interation:",i)

interation: 5
interation: 6
interation: 7
interation: 8
interation: 9

In [ ]:
for i in range(5,50,10):
  print("interation",i)

interation 5
interation 15
interation 25
interation 35
interation 45

In [ ]:
count=0
while count<5:
  print("count:",count)
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

**control** **flow** **tools**

In [ ]:
for i in range(10):
  if (i == 5):
    break
  print(i)

0
1
2
3
4

In [ ]:
# Continue
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10):
  if i == 5:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
number=int(input("Enter a number"))
if number % 2==0:
   print("The number is even")
else:
    print("The number is odd")

Enter a number55
The number is odd

Sum of number in  range

In [ ]:
Start = int(input("Enter the start of the range:"))
end = int(input("Enter the end of the range:"))
sum = 0
for i in range(Start,end +1):
    sum += i
print("The sum is:",sum)

Enter the start of the range:5
Enter the end of the range:10
The sum is: 45

Program to find the factorial in

In [ ]:
number = int(input("enter a number."))
factorial =1
for i in range(1,number+1):
  factorial *=i
  print("the factorial is",factorial)

enter a number.5
the factorial is 1
the factorial is 2
the factorial is 6
the factorial is 24
the factorial is 120

**Fibonacci** **sequence**

In [ ]:
n = int (input("Enter the of terms:"))
a,b=0,1
for i in range(n):
  print(a, end="")
  a,b=b,a + b

Enter the of terms:5
01123

In [63]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
operation=input("Enter operation(+,-,*,/,//):")
if operation == '+':
  print("Result:", num1 + num2)
elif operation == '-':
  print("Result:", num1 - num2)
elif operation == '*':
  print("Result:", num1 * num2)
elif operation == '/':
  print("Result:", num1 / num2)

else:
  print("invalid operation")

Enter first number:6
Enter second number:9
Enter operation(+,-,*,/):/
Result: 0.6666666666666666

In [67]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
operation=input("Enter operation(+,-,*,/,//):")
if operation == '+':
  print("Result:", num1 + num2)
elif operation == '-':
  print("Result:", num1 - num2)
elif operation == '*':
  print("Result:", num1 * num2)
elif operation == '/':
  print("Result:", num1 / num2)
elif operation == '//':
  print("Result:", num1 // num2)

else:
  print("invalid operation")

Enter first number:6
Enter second number:9
Enter operation(+,-,*,/,//)://
Result: 0.0

check the leap year

In [70]:
year=int(input("Enter a year:"))
if(year%4==0 and year % 100!=0)or(year%400==0):
  print("Leap year")
else:
  print("Not a Leap Year")

Enter a year:2024
Leap year

Find the largest of three numbers

In [72]:
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
num3=float(input("Enetr third number:"))
if num>=num2 and num1>=num3:
  print("Largest number is:",num)
elif num2>=num3:
  print("Largest number is:",num2)
else:
  print("Largest number is:",num3)

Enter first number:7
Enter second number:6
Enetr third number:18
Largest number is: 18.0

In [77]:
a = int(input("enter a number"))
if a>0:
  print("positive")
elif a<0:
  print("negative")
else:
  print("Zero")

enter a number66
positive

Sum of All Even Number in a range

In [81]:
start = int(input("Enter start of range:"))
end = int(input("Enter end of range:"))
even_sum=0
for num in range(start,end+1):
  if num%2==0:
    even_sum+=num
print("Sum of even numbers:",even_sum)

Enter start of range:5
Enter end of range:15
Sum of even numbers: 50