In [ ]:
age=18
if age >= 18:
  print("you are eligible to vote")

you are eligible to vote

In [ ]:
num=int(input("Enter a number:"))
if num % 2 == 0:
  print("The number even number")
else:
  print("The number odd number")

Enter a number:55
The number odd number

In [ ]:
marks = int(input("Enter the number"))
if marks>=90:
  print("grade: A")
elif marks >=75:
  print("grade: B")
elif marks >=50:
  print("grade: C")
else:
  print("grade: F")

Enter the number7
grade: F

In [ ]:
for i in range(5):
  print("interation:",i)

interation: 0
interation: 1
interation: 2
interation: 3
interation: 4

In [ ]:
for i in range(5,10):
  print("interation:",i)

interation: 5
interation: 6
interation: 7
interation: 8
interation: 9

In [ ]:
for i in range(5,50,10):
  print("interation",i)

interation 5
interation 15
interation 25
interation 35
interation 45

In [ ]:
count=0
while count<5:
  print("count:",count)
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

**control** **flow** **tools**

In [ ]:
for i in range(10):
  if (i == 5):
    break
  print(i)

0
1
2
3
4

In [ ]:
# Continue
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10):
  if i == 5:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
number=int(input("Enter a number"))
if number % 2==0:
   print("The number is even")
else:
    print("The number is odd")

Enter a number55
The number is odd

Sum of number in  range

In [ ]:
Start = int(input("Enter the start of the range:"))
end = int(input("Enter the end of the range:"))
sum = 0
for i in range(Start,end +1):
    sum += i
print("The sum is:",sum)

Enter the start of the range:5
Enter the end of the range:10
The sum is: 45

Program to find the factorial in

In [ ]:
number = int(input("enter a number."))
factorial =1
for i in range(1,number+1):
  factorial *=i
  print("the factorial is",factorial)

enter a number.5
the factorial is 1
the factorial is 2
the factorial is 6
the factorial is 24
the factorial is 120

**Fibonacci** **sequence**

In [ ]:
n = int (input("Enter the of terms:"))
a,b=0,1
for i in range(n):
  print(a, end="")
  a,b=b,a + b

Enter the of terms:5
01123

In [ ]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
operation=input("Enter operation(+,-,*,/,//):")
if operation == '+':
  print("Result:", num1 + num2)
elif operation == '-':
  print("Result:", num1 - num2)
elif operation == '*':
  print("Result:", num1 * num2)
elif operation == '/':
  print("Result:", num1 / num2)

else:
  print("invalid operation")

Enter first number:6
Enter second number:9
Enter operation(+,-,*,/):/
Result: 0.6666666666666666

In [ ]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
operation=input("Enter operation(+,-,*,/,//):")
if operation == '+':
  print("Result:", num1 + num2)
elif operation == '-':
  print("Result:", num1 - num2)
elif operation == '*':
  print("Result:", num1 * num2)
elif operation == '/':
  print("Result:", num1 / num2)
elif operation == '//':
  print("Result:", num1 // num2)

else:
  print("invalid operation")

Enter first number:6
Enter second number:9
Enter operation(+,-,*,/,//)://
Result: 0.0

check the leap year

In [ ]:
year=int(input("Enter a year:"))
if(year%4==0 and year % 100!=0)or(year%400==0):
  print("Leap year")
else:
  print("Not a Leap Year")

Enter a year:2024
Leap year

Find the largest of three numbers

In [ ]:
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
num3=float(input("Enetr third number:"))
if num>=num2 and num1>=num3:
  print("Largest number is:",num)
elif num2>=num3:
  print("Largest number is:",num2)
else:
  print("Largest number is:",num3)

Enter first number:7
Enter second number:6
Enetr third number:18
Largest number is: 18.0

In [ ]:
a = int(input("enter a number"))
if a>0:
  print("positive")
elif a<0:
  print("negative")
else:
  print("Zero")

enter a number66
positive

Sum of All Even Number in a range

In [86]:
start = int(input("Enter start of range:"))
end = int(input("Enter end of range:"))
even_sum=0
for num in range(start,end+1):
  if num%2==0:
    even_sum+=num
print("Sum of even numbers:",even_sum)

Enter start of range:6
Enter end of range:6
Sum of even numbers: 6

1st program

In [94]:
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
num3=float(input("Enter third number:"))
if num>=num2 and num2>=num3:
  print("Largest number is:",num)
elif num2>=num3:
  print("Largest number is:",num2)
else:
  print("Largest number is:",num3)

Enter first number:8
Enter second number:80
Enter third number:77
Largest number is: 2020

Even or Odd numbers

2nd program

In [88]:
num=int(input("enter a number:"))
if num % 2 == 0:
  print("The number even number")
else:
  print("The number odd number")

enter a number:5
The number odd number

3rd program

In [92]:
num=int(input("Enter the number:"))
if num % 2 == 0 and  num % 3 == 0:
  print("The number is divisible by 5 and 6.")
else:
  print("The number is not divisible by 5 and 6.")

Enter the number:6
The number is divisible by 5 and 6.

program 4:

In [93]:
#4
num=int(input("Enter the number"))
if num % 4==0 and num % 100!=0 or num % 400==0:
  print("its leap year")
else:
  print("its not leap year")

Enter the number2020
its leap year

program 5: Check a number is divisible by 3

In [95]:
dvd=int(input("enter a number"))
if dvd/3:
  print("dvd is divisible by 3")
else:
  print("dvd is not divisible by 3")

enter a number18
dvd is divisible by 3

program 6:

In [96]:
num=int(input("enter the number "))
if num>10:
  print("Hello")
else:
  print("Good  bye")

enter the number 44
Hello

program 7:if-elif-else

In [98]:
num=int(input("Enter a number"))
if num>(10):
  print("It is small number")
elif num>(20):
  print("It is medium number")
else:
  print("It is greator number")

Enter a number77
It is small number

program 8:

In [99]:
num=int(input("enter the number"))
if(num % 5==0) and (num % 10!=0):
  print(f"{num} is divisible by 5 but not 10")
else:
  print(f"{num} doesn't satisfy the condition")

enter the number60
60 doesn't satisfy the condition

program 9:

In [100]:
number=int(input("Enter the number"))
if 100 <= number <= 200:
  print(f"{number} is between 100 and 200")
else:
  print(f"{number} is not between 100 and 200")

Enter the number133
133 is between 100 and 200

program 10:

In [101]:
num=int(input("enter the number"))
if (num > 100) and (num < 500):
  print("print a message")
else:
  print("not satisfy the condition")

enter the number223
print a message

program 11:

In [104]:
nterms=int(input("How many terms"))
if nterms <= 0:
  print("please enter a positive integer")
elif nterms == 1:
  print("Fibonacci sequence upto",nterms,":")
  print(n1)
else:
  print("Fibonacci sequence:")
  while count < nterms:
    print(n1)
    nth = n1 + num2
    n1 = num2
    n2 = nth
    count += 1

How many terms4
Fibonacci sequence:

In [105]:
for number in range(2,20,30):
  print(num)

223