**Functions and Module**

In [ ]:
def greet(name):
  print("helo,"+name+"!")
greet("alice")

helo,alice!

## **FUNCTIONAL** **ARGUMENTS**

**Positional arguments**

In [ ]:
def add(a, b):
  return a + b
print(add(6, 8))

14

**Keyword arguments**

In [ ]:
def greet(name, message):
  print(message +"," +name + "!")
greet(name="alice",message="good morning")

good morning,alice!

In [ ]:
#default Arguments
def greet(name, message="Hello"):
  print(message + "," + name + "!")
greet("Alice")
greet("Bob", "Hi")

Hello,Alice!
Hi,Bob!

In [ ]:
# Variable length argument
def sum_numbers(*numbers):
  return sum(numbers)
print(sum_numbers(1,2,3,4))

10

In [ ]:
def Ramesh(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")
Ramesh(name="Ramesh", age="25", city="paris")

name: Ramesh
age: 25
city: paris

**Return Statement**

In [ ]:
def square(num):
  return num*num
square(5)

25

In [ ]:
result=square(5)
print("square is:", result)

square is: 25

**Importing moduales**

In [ ]:
import math
print(math.sqrt(16))

4.0

In [ ]:
from math import pi, sin
print(pi)
print(sin(math.radians(55)))

3.141592653589793
0.8191520442889918

In [ ]:
def greet(name):
  print("Hello,"+name)

def add(a,b):
  return a+b

import my_module

my_module.greet("Alice")
print(my_module.add(5,3))

Hello,Alice
8
Hello,Alice
8

In [ ]:
print("Hello world")

Hello world

In [67]:
def is_prime(n):
  if n <= 1:
     return False
  for i in range(2, int(n ** 0.5) + 1):
      if n % i == 0:
         return false
         return True

number = int(input("Enter a number:"))
if is_prime(number):
        print(f"{number} is prime.")
else:
        print(f" {number} is not prime.")

Enter a number:7
 7 is not prime.

**Create a fuction to generate fibonacci sequence**

*   List item
*   List item

In [80]:
def fibonacci(n):
  sequence=[]
  a,b=0,1
  for i in range(n):
    sequence.append(a)
    a,b=b,a+b
  return sequence
terms=int(input("Enter the number of terms: "))
print("fibonacci sequence: ",fibonacci(terms))

Enter the number of terms: 8
fibonacci sequence:  [0, 1, 1, 2, 3, 5, 8, 13]

In [94]:
import math

angle=float(input("Enter an angle in degrees:"))
radian = math.radians(angle)
print("Sine of angle:",math.sin(radian))
print("Cosine of angle:",math.cos(radian))

Enter an angle in degrees:45
Sine of angle: 0.7071067811865475
Cosine of angle: 0.7071067811865476

**Factorial using recursion**

In [96]:
def factorial(n):
  if n==0:
    return 1

  else:
      return n*factorial(n-1)

num=int(input("Enter a number:"))
print("Factorial:",factorial(num))

Enter a number:5
Factorial: 120

**Fibonacci series using functions**

In [107]:
def fibonacci(n):
  a,b=0,1
  for i in range(n):
    print(a,end=" ")
    a,b=b,a+b
count=int(input("Enter the number of terms:"))
fibonacci(count)

Enter the number of terms:9
0 1 1 2 3 5 8 13 21

**Check if a number is prime**

In [111]:
def is_prime(n):
  if n<=1:
    return False
    for i in range(2,int(n**0.5)+1):
      if n % i==0:
        return False
        return True
num=int(input("Enter a number:"))
if is_prime(number):
   print("Prime number")
else:
  print("Not a prime number")

Enter a number:6
Not a prime number

**Reverse a string using a function**

In [112]:
def reverse_string(s):
  return s[::-1]

text=input("Enter a string")
print("Reversed string:",reverse_string(text))

Enter a string7
Reversed string: 7

**Find GCD of two numbers using a function**

In [114]:
from binascii import b2a_base64
def gcd(a,b):
  while b:
    a,b=b,a%b

num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
print("GCD:",gcd(num1,num2))

Enter first number:56
Enter second number:77
GCD: None